.FormStyle{
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 100%;
    gap: 1rem;
    background-color: #FFFF00;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
}

label{
    margin-top: 1rem;
    margin-left: 1rem;
    gap: 1rem;
    color: E0E0E0
}

input{
    margin-left: 1rem;
    height: 20%;
    border-radius: 0.2rem;
}
input:hover{
    border-color: red;
    transition: 0.3s;
}