.App {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content:center ;
    margin-top: 5rem;
}
.container-page{
  display: flex;
  padding: 1rem 1rem 1rem 1rem;
  width: 55%;
  height: 100%;
  background-color: #E0E0E0;
  align-items: center;
  justify-content:center ;
  border: 0.3rem solid yellow; 
  border-radius: 1rem;
}
